---
layout: base
---

{% include header.html type="post" %}

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    {% for post in site.posts %}
    <div class="col-md-4 mb-4"> <!-- Each post will take up 4 columns on medium and larger screens -->
      <div class="post-card">
        <a href="{{ post.url | absolute_url }}">
          <h2 class="post-title">{{ post.title }}</h2>
        </a>
        <p>{{ post.excerpt }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% include footer.html %}
